* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(191, 191, 191, 0.843);
  transition: 0.4s;
  padding: 0px;
}



