/* FOOTER */
.footer {
  background-color: #201f24;
  color: rgba(191, 191, 191, 0.843);
  height: 230px;
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;

  .footer_botones {
    color: rgba(191, 191, 191, 0.843);
    padding-top: 25px;
    padding-left: 150px;
  }

  .footer_botones:hover {
    color: #ffffff;
    transition: 0.4s;
  }
}

    /* LEGAL */
    .footer p {
      float: left;
      color: #ffffff;
      font-size: 10px;
      text-align: right;
      margin: 40px;
    }